* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #00AAE6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100%;
}

#div_social_media_icons {
    width: 80vw;   
    padding: 5px;
    background: rgba(242, 133, 0, 0.3);
    border-radius: 64px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(50%);
}

#div_social_media_icons img {
    width: 8vw;
    height: 8vw;
}

#div_social_media_icons #blog-icon {
    width: 6vw;
    height: 6vw;
}

#div_selection_progress_buttons{
    width: 90vw;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10vw 10vw 0px 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#div_selection_progress_buttons button{
    padding: 5px 100px;
}


#div_selection_progress_buttons button:hover{
    cursor: pointer;
}

#div_selection_progress_buttons button:hover{
    cursor: pointer;
}

#button_subscription_form{
    background: #F28500;
    border-radius: 32px;
}

#button_subscription_form:active{
    background: #8a4d03;
}

#button_annoucement {
    background: rgba(0, 170, 230, 0.1);
    border: 3px solid #008DBF;
    box-sizing: border-box;
    border-radius: 32px;
}

#button_annoucement:active {
    background: rgb(1, 47, 63);
}


#logo-fonte {
    height: 30vh;
}

/* Smatphone screens */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) {
    #div_selection_progress_buttons button{
        padding: 15px 5px;
    }
}
/* Galaxy-Fold */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    #div_selection_progress_buttons button{
        padding: 5px;
        margin: 5px;
    }
}

button:focus{
    outline: none;
}