/* General */

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #00AAE6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100%;
}

button:focus{
    outline: none;
}

/* Common */

div#social_media {
    width: 80vw;   
    padding: 5px;
    background: rgba(242, 133, 0, 0.3);
    border-radius: 64px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(50%);
}

div#social_media img {
    width: 8vw;
    height: 8vw;
}

div#selection_progress {
    width: 90vw;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 6vw 6vw 0px 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

div#selection_progress button{
    padding: 5px 100px;
}

button#annoucement {
    background: rgba(0, 170, 230, 0.1);
    border: 3px solid #008DBF;
    box-sizing: border-box;
    border-radius: 32px;
}

button#subscription_form{
    background: #F28500;
    border-radius: 32px;
}

/* Specific */

img#logo-fonte {
    height: 30vh;
}

img#blog-icon {
    width: 6vw !important;
}


img#instagram-icon {
    width: 9vw !important;
}

/* Events */

div#selection_progress button:hover{
    cursor: pointer;
}

button#subscription_form:active {
    background: #8a4d03;
}

button#annoucement:active {
    background: rgb(1, 47, 63);
}

/* Smatphone screens */
@media only screen and (min-device-width : 0px) and (max-device-width : 768px) {
    div#selection_progress button{
        padding: 5px 10px;
        margin: 10px;
    }

    div#selection_progress{
        border-radius: 10vw 10vw 0px 0px;
    }
}
